body {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100vh;
   margin: 0;
   padding: 0;
 }
 h1 {
   color: #fff;
   font-size: 3rem;
   margin-bottom: 2rem;
 }
 svg {
   width: 10rem;
   height: 10rem;
 }