@tailwind base;
@tailwind components;
@tailwind utilities;


@media screen and (min-width: 640px) {

  .sidebar {
    width: 250px;
    height: 100vh;
    background-color: #1a3b8e;
    overflow-y: auto;
    padding-top: 20px;
  }

  .sidebar a {
    display: block;
    padding: 10px;
    color: #fff;
    text-decoration: none;
  }

  .sidebar a:hover {
    background-color: #163e76;
  }

  /* Custom Scrollbar Styling */
  .sidebar::-webkit-scrollbar {
    width: 9px;
  }

  .sidebar::-webkit-scrollbar-thumb {
    background-color: #1a3b8e;
    border-radius: 3px;
    transition: width 0.2s;
  }

  .sidebar::-webkit-scrollbar-thumb:hover {
    background-color: #163e76;
    width: 20px;
  }
  
}

.scroll-bar2::-webkit-scrollbar {
  width: 0px; 
  /* margin-left: 10px; */
}
/* .scroll-bar::-webkit-scrollbar-track {
  background: #202a5a;
  } */
  /* .scroll-bar::-webkit-scrollbar:hover { */
   /* background-color: red;
   width: 10px;
  } */
  /* .scroll-bar::-webkit-scrollbar-track:active {
  background: #55fceb;
  } */

 .scroll-bar2::-webkit-scrollbar-thumb {
  background-color: #438e1a; 
  border-radius: 0px; 
  transition: width 0.2s;
}
 .scroll-bar2::-webkit-scrollbar-thumb:hover {
  background-color: #939e73; 
  width: 10px;
}


@keyframes spin-once {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.spin-once:hover {
  animation: spin-once 1s forwards;
}

.post_text::selection{
  background: #0eb0a1;
  color: #000000;
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 25%;
  }
  25% {
    background-position: 25% 50%;
  }
  50% {
    background-position: 50% 75%;
  }
  75% {
    background-position: 75% 60%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.bg-sidebar{
  background: conic-gradient(from 90deg at 50% 125%, #1f005c, #003298, #005ac6, #007fdc, #00a2d3, #00c4ae, #00e474, #00ff00, #1f005c, #003298, #005ac6, #007fdc, #00a2d3, #00c4ae, #00e474, #00ff00);
  animation: gradientAnimation 1s linear infinite;

}

 